body {
  font-family: "Laila", serif;
}

video {
  width: 100%;
}

.ads_custom {
  display: block;
  margin-bottom: 22px;
}

.ads_custom video {
  object-fit: fill;
  height: 82px;
  width: 100%;
}

@media (min-width: 500px) {
    .ads_custom video {
        object-fit: contain;     
        height: 127px;
        object-position: left;
        object-fit: fill;
      }
}