<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css?family=Laila" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Oops Error!!</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-80337204-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-80337204-2');
</script>

</head>
<body>
    <div class="container">
    <br/>
    <br/>
    <div class="colums">
      <div class="column is-half is-offset-one-quarter">
        <h1 class="title has-text-warning">savevideo</h1>
      </div>
    </div>
    <div class="colums">
        <div class="column is-half is-offset-one-quarter">
          <h1>Oops!! Nothing to see here</h1>
          <p><%= message%></p>
        </div>
      </div>
    </div>
</body>
</html>