<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/main.css">
    <script type="text/javascript" src="/js/main.bundle.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Laila" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Oops Error!!</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-80337204-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-80337204-2');
</script>

</head>
<body>
  <header class="bg-primary fixed-top">
    <div class="container">
      <nav class="navbar  navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">SaveTwitterVideo</a>
        <form class="form-inline my-2 my-lg-0" method="POST" action="/downloads">
          <input id="screen_name" class="form-control mr-sm-2" type="search" name="screen_name"
            placeholder="Enter Twitter screen name" aria-label="Search">
          <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
        </form>

      </nav>
    </div>
  </header>
    <div class="container">
    <br/>
    <br/>
    <div class="row">
        <div class="col-8 my-8">
          <h1>Oops!! Nothing to see here</h1>
          <h4><%= message%></h4>
        </div>
      </div>
    </div>
</body>
</html>