<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
  <link href="https://fonts.googleapis.com/css?family=Laila" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Save video from Twitter</title>
  <style>
    body {
      font-family: 'Laila', serif;
    }
  </style>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-80337204-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-80337204-2');
  </script>

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-2203418581094896",
      enable_page_level_ads: true
    });
  </script>

  <script type="text/javascript">
    window._mNHandle = window._mNHandle || {};
    window._mNHandle.queue = window._mNHandle.queue || [];
    medianet_versionId = "3121199";
  </script>
  <script src="https://contextual.media.net/dmedianet.js?cid=8CUZDH9Y0" async="async"></script>
</head>

<body>

  <div class="container">
    <div>
      <br />
      <br />
      <div class="colums">
        <div class="column is-half is-offset-one-quarter">
          <h1 class="title has-text-warning">savevideo</h1>

        </div>
      </div>
      <div class="colums">
        <div class="column is-half is-offset-one-quarter">
          <form method="POST" action="/downloads">
            <div class="field has-addons">
              <div class="control is-expanded">

                <input id="screen_name" class="input" type="text" name="screen_name"
                  placeholder="Enter Twitter screen name">

              </div>
              <div class="control">
                <button type="submit" class="button is-info">
                  Search
                </button>
              </div>
            </div>

          </form>
        </div>

      </div>
      <div class="colums">
        <div class="column is-half is-offset-one-quarter">
          <div id="201543714">
            <script type="text/javascript">
                try {
                    window._mNHandle.queue.push(function (){
                        window._mNDetails.loadTag("201543714", "300x250", "201543714");
                    });
                }
                catch (error) {}
            </script>
        </div>
          <p class="title is-size-4-desktop">## Who am i ?</p>
          <p>
            I am a twitter bot, that helps you download videos from tweets on twitter. Mention
            @<a href="https://twitter.com/save_video">save_video</a> and i will reply you with a link. if i cant reply
            sometimes
            because my master wouldnt allow me, you can always visit
            "http://www.savetwittervideo.me/[yourtwitterhandle]"
            to download video.

          </p>
        </div>
      </div>
      <br />
      <div class="colums">
        <div class="column is-half is-offset-one-quarter">
          <p class="title is-size-4-desktop">## How long do i have to wait ?</p>
          <p>
            You get your link almost immediately but sometimes at most in 10 minutes, just mention me in a post, count
            to ten then ding! dong!!
          </p>
        </div>
      </div>
      <br />
      <div class="colums">
        <div class="column is-half is-offset-one-quarter">
          <p class="title is-size-4-desktop">## What do i do if i dont get a reply ?</p>
          <p>
            If you dont get a response to your request in 10 minutes, dont panic just take a deep breath
            you didnt do anything wrong, sometimes my master wouldnt allow me to carry out my task even when i want to,
            but you can
            always check back at "http://www.savetwittervideo.me/[yourtwitterhandle]" to see all your downloads.
          </p>
        </div>
      </div>
      <br />

      <div class="colums">
        <div class="column is-half is-offset-one-quarter">
          <p class="title is-size-4-desktop">## How can i contact you ?</p>
          <p>
            I am alway available at my twitter page @<a href="https://twitter.com/save_video">save_video</a>, my dms are
            open
          </p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>