<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style/main.css">
  <link href="https://fonts.googleapis.com/css?family=Laila" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Save video from Twitter</title>
  <style>
    body {
      font-family: 'Laila', serif;
    }
  </style>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-80337204-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-80337204-2');
  </script>

  <script data-ad-client="ca-pub-2203418581094896" async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</head>

<body class="pt-sm-6 pt-10">
  <header class="bg-primary fixed-top">
    <div class="container">
      <nav class="navbar  navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">SaveTwitterVideo</a>
        <form class="form-inline my-2 my-lg-0" method="POST" action="/downloads">
          <input id="screen_name" class="form-control mr-sm-2" type="search" name="screen_name"
                      placeholder="Enter Twitter screen name" aria-label="Search">
          <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
      
      </nav>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-12">
        <div class="row">
          <div class="col-12">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- top ads -->
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2203418581094896"
              data-ad-slot="6713495937" data-ad-format="auto" data-full-width-responsive="true"></ins>
            <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
          </div>
          <div class="col-12">
            <h2 class="font-weight-bold">## Who am i ?</h2>
            <p>
              I am a twitter bot, that helps you download videos from tweets on twitter. Mention
              @<a href="https://twitter.com/save_video">save_video</a> and i will reply you with a link. if i cant reply
              sometimes
              because my master wouldnt allow me, you can always visit
              "http://www.savetwittervideo.me/[yourtwitterhandle]"
              to download video.

            </p>
          </div>
          <div class="col-12">
            <h2 class="font-weight-bold">## How long do i have to wait ?</h2>
            <p>
              You get your link almost immediately but sometimes at most in 10 minutes, just mention me in a post, count
              to ten then ding! dong!!
            </p>
          </div>
          <div class="col-12">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- inbetweener ad -->
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2203418581094896"
              data-ad-slot="4634143419" data-ad-format="auto" data-full-width-responsive="true"></ins>
            <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
          </div>
          <div class="col-12">
            <h2 class="font-weight-bold">## What do i do if i dont get a reply ?</h2>
            <p>
              If you dont get a response to your request in 10 minutes, dont panic just take a deep breath
              you didnt do anything wrong, sometimes my master wouldnt allow me to carry out my task even when i want
              to,
              but you can
              always check back at "http://www.savetwittervideo.me/[yourtwitterhandle]" to see all your downloads.
            </p>
          </div>
          <div class="col-12">
            <h2 class="font-weight-bold">## How can i contact you ?</h2>
            <p>
              I am alway available at my twitter page @<a href="https://twitter.com/save_video">save_video</a>, my dms
              are
              open
            </p>
          </div>
          <div class="col-12">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- bottom ad -->
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2203418581094896"
              data-ad-slot="9071533139" data-ad-format="auto" data-full-width-responsive="true"></ins>
            <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
          </div>

        </div>
      </div>
      <div class="col-sm-4 col-12">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- right ads -->
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2203418581094896"
          data-ad-slot="6034854995" data-ad-format="auto" data-full-width-responsive="true"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
    </div>
  </div>
</body>

</html>