<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/main.css" />
    <link rel="stylesheet" href="/style/index.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Laila"
      rel="stylesheet"
    />
    <script type="text/javascript" src="/js/main.bundle.js"></script>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="canonical" href="https://savetweetvideo.link" />
    <meta
      name="description"
      content="Looking for how to download twitter video(s) on your android, iphone or desktop devices. Copy link to twitter post, paste it in the box below & click the download button to download immediately."
    />
    <meta name="keyword" content="Download, Twitter, Twitter Download" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@save_video" />
    <meta property="og:url" content="https://www.savetweetvideo.link/" />
    <meta property="og:title" content="Download Twitter Videos" />
    <meta
      property="og:description"
      content="Looking for how to download twitter video(s) on your android, iphone or desktop devices. Copy link to twitter post, paste it in the box below & click the download button to download immediately."
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>savetwittervideo | Download Twitter Video(s)</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-80337204-2"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-80337204-2");
    </script>

    <!-- Adsense -->
    <script
      data-ad-client="ca-pub-4143984802845857"
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
    ></script>

    <!-- Hotjar Tracking Code for www.savetweetvideo.link -->
    <script>
      (function (h, o, t, j, a, r) {
        h.hj =
          h.hj ||
          function () {
            (h.hj.q = h.hj.q || []).push(arguments);
          };
        h._hjSettings = { hjid: 1899739, hjsv: 6 };
        a = o.getElementsByTagName("head")[0];
        r = o.createElement("script");
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
      })(window, document, "https://static.hotjar.com/c/hotjar-", ".js?sv=");
    </script>
  </head>

  <body class="pt-sm-6 pt-13">
    <header class="bg-primary fixed-top">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">
          <a class="navbar-brand" href="/">SaveTwitterVideo</a>
          <form
            class="form-inline my-2 my-lg-0"
            method="POST"
            action="/downloads"
          >
            <input
              id="screen_name"
              class="form-control mr-sm-2"
              type="search"
              name="screen_name"
              placeholder="Enter Twitter screen name"
              aria-label="Search"
            />
            <button class="btn btn-primary my-2 my-sm-0" type="submit">
              Find my downloads
            </button>
          </form>
        </nav>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-12">
          <div class="row">
            <div class="col-12">
              <a
                class="ads_custom"
                href="https://www.amazon.com/Song-Six-Seasons-Chilota-Nwabuoku/dp/9789855389/ref=tmm_pap_swatch_0?_encoding=UTF8&qid=1612477506&sr=1-6#detailBullets_feature_div"
              >
                <video loop="true" autoplay="autoplay" id="vid" muted>
                  <source src="/video/videoAd.mp4" />
                </video>
              </a>
            </div>
            <div class="col-12">
              <h2 class="font-weight-bold">## Who am i ?</h2>
              <p>
                I am a twitter bot, that helps you download videos from tweets
                on twitter. Mention @<a href="https://twitter.com/save_video"
                  >save_video</a
                >
                on twitter on a post containing a video and i will reply you
                with a download link.
              </p>
              <h1>OR</h1>
              Copy link to twitter post, paste it in the box below & click the
              download button to download immediately.
            </div>
            <div class="col-12 my-4 py-4 bg-primary">
              <form method="GET" action="/downloads" class="my-4">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Paste link to twitter post here"
                    name="URL"
                  />
                  <button class="btn btn-warning" style="color: #fff">
                    Download
                  </button>
                </div>
              </form>
            </div>
            <div class="col-12 my-3">
              <h2 class="font-weight-bold">## How long do i have to wait ?</h2>
              <p>
                You get your link almost immediately, just mention me in a post,
                count to ten then ding! dong!!
              </p>
            </div>
            <div class="col-12 my-3">
              <h2 class="font-weight-bold">
                ## What do i do if i dont get a reply ?
              </h2>

              <p class="text-wrap" style="overflow-wrap: anywhere">
                If you dont get a response to your request in 1 minutes, dont
                panic just take a deep breath you didnt do anything wrong,
                sometimes my master wouldnt allow me to carry out my task even
                when i want to, but you can always check back at
                "https://www.savetweetvideo.link/downloads/[yourtwitterhandle]"
                to see all your downloads.
              </p>
            </div>
            <div class="col-12"></div>
            <div class="col-12 my-3">
              <h2 class="font-weight-bold">## How can i contact you ?</h2>
              <p>
                I am alway available at my twitter page @<a
                  href="https://twitter.com/save_video"
                  >save_video</a
                >, my dms are open
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>window.savetweetSource = "home"</script>
    <script src="/js/ads.js"></script>
  </body>
</html>
